.bContainer{
  border-radius: 30px;
  height: auto;
  margin-top: 170px;
  margin-left: 3vw;
  margin-right: 2vw;
  padding: 20px;
  width: 80vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.bBall{
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

