@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100,200,300,400,500,600,700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.bContainer{
  height: auto;
  width: auto;
}

.bHeading{
  font-family: "Roboto Mono", serif;
  font-weight: 600;
}
.bAbout, .bText{
  font-family: "Open Sans", serif;
  font-weight: 100;
}

.bHr{
  width: 50px;
}
.bLine{
  width: 40vw;
}