@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.bContainer{
  height: auto;
  width: auto;
}

.bHeading{
  font-family: "Roboto Mono", serif;
}
.bAbout, .bText{
  font-family: "Caprasimo", serif;
  font-weight: 100;
}

.bHr{
  width: 50px;
}
.bLine{
  width: 40vw;
}