.bsContainer{
  border-radius: 30px;
  height: auto;
  margin-top: 170px;
  margin-left: 10px;
  margin-right: 2vw;
  padding: 20px;
  width: 40vw;
}
.bsBall{
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

