@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.bHeading{
  font-family: "Roboto Mono", serif;
}
.bcContainer{
  border-radius: 30px;
  height: 80vh;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  box-shadow: 5px 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
}

